body{
	padding:0; margin:0;
	font-size:2vmin;
	font-family: Arial, Helvetica, sans-serif;
}

div{
	position:relative;
}

*.hidden{ display:none !important; }

#bg{
	background: linear-gradient(to bottom,  #565656 0%,#494949 44%,#373737 100%);
}
#wrap.editMode #bg{
	background: linear-gradient(to bottom,  #676756 0%,#606049 44%,#484837 100%);
}

#bg, #content{
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	overflow: hidden;
}

#wrap:not(.editMode) *.editMode{ display:none !important; }
#wrap.editMode *.notEditMode{ display:none !important; }


#modal, #question{
	display:flex;
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.5);
	color:#FFF;
	text-align: center;
	z-index:100;
	transition: all 0.25s ease-out;
	opacity: 1;
}
#question{
	display:block;
	align-items: normal;
}
#modalContent, #questionContent{
	color: #333;
	background: rgba(255,255,255,0.75);
	border: 0.5vmin solid #EEE;
	border-radius: 1vmin;
	padding:3vmin;
	min-width: 50%;
}
#modalContent form{
	display:block;
}


#question.disabled{
	opacity:0;
	pointer-events: none;
}
#questionContent{
	min-width:auto;
	font-size:10vmin;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	background: linear-gradient(to bottom,  #777 0%,#444 100%);
	width:75vmin; height: 75vmin;
	overflow:visible;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-color: #AAA;
	border-width:2vmin;
	border-radius: 5vmin;
	box-shadow: 0 0 3vmin #AAA;
	user-select: none;
	transition: all 0.25s ease-out;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%) scale(1);
	position:absolute;
	box-sizing: border-box;
}

#questionContent.noTransition{
	transition:none;
}

#questionTimer{
	position:absolute;
	top:-8vmin;
	height:5vmin;
	width:100%;
	grid-auto-flow: column;
	display:none;
}
#question.disabled #questionContent{
	transform:translate(-50%, -50%) scale(0);
}
#questionContent.active #questionTimer{
	display:grid;
}
#questionTimer > div{
	width:auto;
	height:5vmin;
	border-radius:1vmin;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	border:0.3vmax solid #FFF;
	margin:0.2vmin;
}
#questionTimer > div.disabled{
	visibility: hidden;
}
#questionText{

}

#questionTeam{
	font-size:6vmin;
	bottom:-10vmin;
	position:absolute;
	width:100%;
	justify-content: center;
	left:0;
	text-align: center;
}


#controls{
	position:fixed;
	top:0; right:1vmin;
	color:#AAA;
}
#controls ul{
	margin:0;
}


input{
	font-size:3vmin;
}
input[type=number]{
	max-width:5vmin;
}
textarea{
	display:block;
	width:100%;
	font-size:2vmin;
}

form{
	margin: 2vmin 0
}

#menu{
	position: fixed;
	top:0; left:50%;
	transform:translateX(-50%);
	background: rgba(0,0,0,0.25);
	color:#FFF;
	min-width:30vmin;
	text-align: center;
	border-bottom-left-radius: 1vmin;
	border-bottom-right-radius: 1vmin;
	color:#AAA;
	overflow:hidden;
}
#menu > div.button{ display:none; color:#FFF; background:rgba(0,0,0,0.5); margin-bottom:0.1vmin; cursor:pointer; }
#menu:hover:not(.off) > div.button{ display:block; }
#menu:hover > div.button:hover{ background:rgba(255,255,255,0.25); }

#teams{
	position:fixed;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	display:grid;
	grid-template-columns: repeat(5, 1fr);
}
#teams > div{
	margin:0 1vmin;
	text-align: center;
	padding:2vmin;
	border: 0.5vmin solid #EEE;
	border-top-left-radius: 2vmin;
	border-top-right-radius: 2vmin;
	border-bottom:none;
}
#teams > div.team.active{
	box-shadow: 0 0 2vmin #FFF;
	
}
#questionContent.RED, #teams > div.RED{ border-color:#FFAAAA; color:#FFAAAA; background-color:#663333; }
#questionContent.YELLOW, #teams > div.YELLOW{ border-color:#FFFFAA; color:#FFFFAA; background-color:#666633; }
#questionContent.GREEN, #teams > div.GREEN{ border-color:#AAFFAA; color:#AAFFAA; background-color:#336633; }
#questionContent.BLUE, #teams > div.BLUE{ border-color:#AAAAFF; color:#AAAAFF; background-color:#333366; }
#questionContent.WHITE, #teams > div.WHITE{ border-color:#FFFFFF; color:#FFFFFF; background-color:#666666; }
#teams > div > div.name{ font-style: italic; }
#teams > div > div.score{ font-weight: bold; }

#questionContent.RED{ background: linear-gradient(to bottom,  #977 0%,#644 100%);}
#questionContent.YELLOW{ background:linear-gradient(to bottom,  #997 0%,#664 100%);}
#questionContent.GREEN{ background:linear-gradient(to bottom,  #797 0%,#464 100%);}
#questionContent.BLUE{ background:linear-gradient(to bottom,  #779 0%,#446 100%);}
#questionContent.WHITE{ background:linear-gradient(to bottom,  #999 0%,#666 100%);}



table.listing{
	width:100%;
}
table.listing td{
	background-color: rgba(0,0,0,.5);
	color: #FFF;
	text-align: left;
	padding: 0.5vmin;
}
table.listing td.name{
	cursor:pointer;
	font-weight: bold;
}
table.listing td.name:hover{
	background-color: rgba(0,0,0,.75);
}
table.listing tr:nth-child(2n) td{
	background-color: rgba(0,0,0,.25);
}
table.listing tr.active{
	opacity: 0.5;
}


#status{
	position:fixed;
	bottom:0;
	left:0;
	color:#FAA;
	text-shadow: 0.1vmin 0.1vmin 0.5vmin #000;
	font-weight: bold;
}


/* Game content */
#titleWrap{
	position:fixed;
	top:0; left: 1vmin;
	color:#FFF;
	font-weight: bold;
	text-shadow: 0.1vmin 0.1vmin 0.5vmin #000;
}
#titleWrap > div{
	display:inline-block;
}


#board{
	display:flex;
	justify-content: center;
	text-align: center;
	position:fixed;
	top:0; left:0; right:0; bottom:0;
	min-width:80%;
	color: #EEE;
}
#categories{
	display:flex;
	margin-top:5vmin;
}
#categories > div.category > div.title{
	background:#567;
	font-style: italic;
	font-size:2.5vmin;
}
#categories > div.category > div{
	width: 13vmin;
	height:13vmin;
	background: #345;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:0.5vmin;
	border-radius: 1vmin;
	box-shadow: .5vmin .5vmin 1vmin rgba(0,0,0,.25);
	border:0.25vmin solid #345;
	color: #DEF;
}
#categories > div.category > div.question{
	font-size:3vmin;
	cursor:pointer;
}
#wrap:not(.editMode) #categories > div.category > div.question:not(.answered){
	background: linear-gradient(to bottom,  #797 0%,#343 100%);
	border-color: #797;
	color: #DFD;
	font-weight: bold;
}
#wrap.editMode #categories > div.category > div.question:not(.valid){
	background: linear-gradient(to bottom,  #977 0%,#433 100%);
	border-color: #977;
	color: #FDD;
	font-weight: bold;
}
#categories > div.category > div.question:not(.answered):hover{
	transform:scale(1.05);
}



